#description-image {
    float: left;
    padding: 10px;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
    
}

.image-nav {
    width: 140px;
    height: 140px;
   
}